<div class="banner" style="background-image: url('<%= image_path "banner.png" %>')">
  <div class="banner-text">
    <p>Choose your next game!</p>
  </div>
</div>

<h2>The most famous tennis player</h2>

<div class="card-container">

  <% @requests.each do |request| %>
    <div class="card">
        <%= image_tag "#{request.user.photo}", class: "card-avatar" %>
        <h2><%= request.user.first_name %></h2>
        <p> <strong><%= request.location %> </strong> </p>
        <p> <%= request.date %></p>
        <p> <%= request.time.strftime("%H:%M") %> </p>
        <div class="link"> <%= link_to "See more", requests_path(request) %> </div>

    </div>
  <% end %>
</div>

