<div class="banner min-100-vh" style="background-image: url('<%= image_path "banner.png" %>')">
  <div class="banner-text">
    <div>
      <p>Choose your next game!</p>
      <div class = 'form-group'>
        <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-3",
          placeholder: "Where would you like to play?"
        %>
        <%= submit_tag "Search", class: "btn mt-3" %>
        <% end %>
      </div>

    </div>

    <div class="raquette">
      <img id="raquette" src="<%= asset_path('raquette.png')%>" alt="raquette">
    </div>
    <div class="balle">
      <img id="balle" src="<%= asset_path('balle.png')%>" alt="balle">
    </div>
  </div>
</div>

<h2>They are looking for a partner ...</h2>

<div class="card-container">
  <% @requests.each do |request| %>
    <% if request.matchs.empty?%>
      <div class="card">
        <%= image_tag "#{request.user.photo}", class: "card-avatar" %>
        <h3><%= request.user.first_name %></h3>
        <p>
          <i class="fas fa-map-marked-alt"></i>
          <strong><%= request.location %> </strong>
        </p>
        <p>
          <i class="far fa-calendar-alt"></i>
          <%= request.date %>
        </p>
        <p>
          <i class="far fa-clock text-center"></i>
          <%= request.time.strftime("%H:%M") %>
        </p>
        <div class="link"> <%= link_to "See more", request_path(request) %> </div>
      </div>
    <% end %>
  <% end %>
</div>
