<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="container">
  <% @requests.each do |request| %>
    <div class="row">
      <div class="col-sm">
        <%= image_tag "#{request.user.photo}", class: "avatar-large" %>
        <h2><%= request.user.first_name %></h2>
        <p> <strong><%= request.user.address %> </strong> </p>
        <p> <%= request.date %></p>
        <p> <%= request.time %> </p>
      </div>
    </div>
  <% end %>
</div>

