<div class="matches">
  <div class="form">
    <h3>Propose a new match</h3>
    <%= form_for (@request) do |f| %>
     <%= f.label :date, class: "mt-3" %>
    <%= f.date_field :date, class: "form-control" %>
    <%= f.label :time, class: "mt-3"  %>
    <%= f.time_field :time, class: "form-control" %>
     <%= f.label :location, class: "mt-3" %>
    <%= f.text_field :location, class: "form-control" %>
    <%= f.submit class: "card-btn" %>
  <% end %>
  </div>
  <div class="form-match">
    <div class="">
      <h3> My next matches </h3>
      <ul>
        <% @requests.each do |request| %>
            <p>
              <%= request.date.strftime("%d %B") %> - <%= request.time.strftime("%I:%M %p") %>  <%= request.location %>
              <%= link_to request_path(request), method: :delete, data: {confirm: "Do you really want to delete it?"} do %>
                <i class="fas fa-trash-alt fa-fw"></i>
              <% end %>
            </p>
        <% end %>
      </ul>
    </div>
  </div>
</div>


