<div class="container">
  <div>
    <div>
      <h1><%= @request.user.first_name %></h1>
      <p><%= @request.user.birth_date %></p>
      <p><%= @request.user.address %></p>
      <p><%= @request.user.description %></p>
    </div>
    <div>
      <ul class="">
        <% Request.where(user_id: @request.user_id).each do |request|%>
        <li class="">
          <%= request.date %>
          <%= request.time.strftime("%H:%M") %>
          <%= request.location %>
          <%= link_to "Let's play", request_matches_path(request), method: :post, data: {confirm: "Do you want to check this match?" } %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
