  <div class="profile">
    <div class="profile-container">
      <%= image_tag "#{@request.user.photo}", class: "avatar" %>
      <h3><%= @request.user.first_name %></h3>
      <p><%= @request.user.birth_date %></p>
      <p><%= @request.user.address %></p>
      <p><%= @request.user.description %></p>
      <p><%= @request.user.level %></p>
    </div>
    <div class="requests">
      <ul class="requests-list">
        <% Request.where(user_id: @request.user_id).each do |request|%>
          <%= link_to request_matches_path(request), method: :post, data: {confirm: "Do you want to check this match?" } do %>
            <li class="list">
              <p><%= request.date %></p>
              <p><%= request.time.strftime("%H:%M") %></p>
              <p><%= request.location %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <div class="balles">
      <img id="balles" src="<%= asset_path('balles.png')%>" alt="balles">
    </div>
    </div>
  </div>
