  <div class="profile min-100-vh">
    <div class="">
      <%= cl_image_tag "#{@request.user.photo.key}" %>
      <h2><%= @request.user.first_name %></h2>
      <p><%= @request.user.birth_date %></p>
      <p><%= @request.user.address %></p>
      <p><%= @request.user.description %></p>
      <p><%= @request.user.level %></p>
    </div>
    <div class="requests">
      <ul class="requests-list">
        <% Request.where(user_id: @request.user_id).each do |request|%>
        <li class="list">
          <p><%= request.date %></p>
          <p><%= request.time.strftime("%H:%M") %></p>
          <p><%= request.location %></p>
          <%= link_to "Let's play", request_matches_path(request), method: :post, data: {confirm: "Do you want to check this match?" } %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
