<div class="container">
  <h1>Let's play <%= current_user.first_name %> </h1>
  <h2>Your next matches are:</h2>

  <% @matches.each do |match| %>
  <div class="card m-5">
    <h3><%= "#{match.user.first_name} - #{match.request.location}" %></h3>
    <p><%= match.request.date %></p>
    <p><%= match.request.time.strftime("%H:%M") %></p>
    <%= link_to "Remove this match", match_path(match), method: :delete, data: {confirm: "Do you want to remove this match?" } %>
  </div>

  <% end %>

</div>

